@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo: #67a0ab;
  --azul: #478ced;
  --branco: #ffffff;
  --botao-ativo: #df388b;
  --botao-inativo: rgba(40, 24, 224, 0.5);
  --texto-fundo: rgba(51, 34, 234, 0.3);
  --verde-correto: #28a745;
  --vermelho-incorreto: #dc3545;
}

body {
  text-align: center;
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', sans-serif; /* Corrigido para utilizar a fonte importada */
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-principal {
  text-align: center;
  width: 100%;
  font-size: 32px;
}

footer {
  background-color: #333;
  color: #ffffff; /* Alterado para branco para melhor contraste */
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos do Quiz */
.quiz-container {
  background-color: var(--texto-fundo);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.quiz-title {
  color: var(--branco);
  font-size: 24px;
  margin-bottom: 15px;
}

.quiz-question {
  margin-bottom: 20px;
}

.quiz-option {
  display: block;
  background-color: var(--azul);
  color: var(--branco);
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quiz-option:hover {
  background-color: var(--botao-ativo);
}

.quiz-option.correct {
  background-color: var(--verde-correto); /* Verde */
}

.quiz-option.wrong {
  background-color: var(--vermelho-incorreto); /* Vermelho */
}
